.jumbotron{
	background-color: green;
	color: black;
	margin-top: 50px;
}


footer{
	
	background-color: green;
	margin-bottom: 0px; 
	margin-top: 20px;
}
.card-hotel{
	flex: 1 275px;
	
}
.btn-resrva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}