@green: #5dd941;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron{
	background-color: @green;
	color: black;
	.margenes(50px, opx);
}


footer{
	
	background-color: @green;
	.margenes(20px, opx);
}
.card-hotel{
	flex: 1 275px;
	.margenes(10px, opx);
}
.btn-resrva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}