.jumbotron {
  background-color: #5dd941;
  color: black;
  margin-top: 50px;
  margin-bottom: opx;
}
footer {
  background-color: #5dd941;
  margin-top: 20px;
  margin-bottom: opx;
}
.card-hotel {
  flex: 1 275px;
  margin-top: 10px;
  margin-bottom: opx;
}
.btn-resrva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
