$color: #9c7509;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}


.jumbotron{
	background-color: $color;
	color: black;
	
	@include margenes(50px, opx);
}


footer{
	
	background-color: $color;
	@include margenes(20px, opx);
}
.card-hotel{
	flex: 1 275px;
	@include margenes(10px, opx);
	
}
.btn-resrva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}